<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeVF</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css'%}">
    <link rel="icon" type="image/png" href="{% static 'img/icono.png'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/resgistro.css'%}">



</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index_list'%}">
          <img src="{% static 'img/corazon.jpg'%}" width="30" height="30" class="d-inline-block align-top" alt="">
          ANIMEVF
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="navbar-nav mr-auto ml-auto text-center">
            <a class="nav-item nav-link active" href="{% url 'index_list'%}">Inicio</a>
            <a class="nav-item nav-link" href="{% url 'anime_list'%}">Anime</a>
            <a class="nav-item nav-link" href="{% url 'manga_list'%}">Mangas</a>
            <a class="nav-item nav-link" href="{% url 'galeria_list'%}">Wallpapers</a> 
            <div class="resgistro">
                <a class="nav-item nav-link" href="{% url 'registro_list'%}">Registro</a>
            </div> 
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
        
        
<section>
<form id="registro" name="datos" method="POST" action="envio.html";>
    
        <h1> Registro de Usuario </h1>
        <div class="item-input">
            <label for="txtName">Nombre de usuario:</label>
            <input type="text" id="txtName" placeholder="Ingrese usuario" required>
            <span></span>
    </div>

    <div class="item-input">
            <label for="txtEmail">Correo:</label>
            <input type="email" id="txtEmail" placeholder="Ingrese su correo" required/>
    </div>
    <div class="item-input">
            <label for="txtPassword">Contraseña:</label>
            <input type="password" id="txtPassword" placeholder="Ingrese una contraseña" required/>
    </div>

    <div class="item-input">
            <label for="txtPassword2">Confirmar contraseña:</label>
            <input type="password" id="txtPassword2" placeholder="Ingrese una contraseña" required/>
    </div>

  
    
    <div class="item-input-boton">
            <button type="submit" class="butons">Registrar</button>
                
    </div>
  
    </form>
           
        </section>
</div>
    <footer>
        <P> Contacto: <a href="tel/+569123456789">+569123456789</a></P>
        <P> Email : <a href="mailto:duoc@hotmail.com">duoc@hotmail.com</a>
                </P>
                <p>Derechos Reservados &copy; / Vicente Liberona - Fabian Villagra   </p>
    </footer>





    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    
</body>
</html>